*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#TryToGlasses{
    background-image: url("../../public/glassesImage/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

header {
    text-align: center;
    background-color: #000000b5;
    color: white;
    padding: 25px 0;
    margin-bottom: 50px;
}

#tryToglasses{
    max-width: 900px;
    margin: auto;
}

/* Model */
#model{
    max-width: 900px;
    margin: auto;
    padding: 30px 0;
    background: transparent;
}
.img__model{
    max-width: 250px;
    margin: auto;
    border: 1px solid black;
}
.img__model img{
    width: 100%;
}
.img__model{
    text-align: center;
}

/* Detail */
#model__tryGlass{
    position: relative;
    max-width: 250px;
    margin: 0 auto;
    border: 1px solid black;
}
#modelImg__tryGlass{
    width: 100%;
}
#model__tryGlass .img__try{
    position: absolute;
    left: 25%;
    top:25%;
    width: 125px;
    opacity: 0.8;
}
.info__glass{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffa50085;
}
.info__glass h5{
    margin-bottom: 4px;
    color: blue;
}
.info__glass p{
    margin: 0;
    font-size: 12px;
    color: white;
}
/* Glasses */
#glasses {
    max-width: 1000px;
    margin: auto;
    background-color: #0000007a;
    padding: 40px 0 ;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#glasses img{
    width: 100%;
    border: 1px solid white;
    padding: 5px;
}